#conteudo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 13%;
	margin-left: 13%;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
	margin-right: 3%;
	margin-left: 3%;
	width: 15em;
	height: 10em;
	padding: 0.5em;
	border-radius: 5%;
	filter: grayscale(100%) brightness(135%);
}
.logos:hover {
	transition: 0.7s;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	filter: grayscale(0%);
}
.imagemLogos {
	width: auto;
	height: auto;
}
@media screen and (pointer: coarse) {
	.logos:hover {
		transition: none;
		box-shadow: none;
	}
	.logos:active {
		box-shadow: box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	}
}
@media screen and (max-width: 1200px) {
	#conteudo {
		margin-right: 8%;
		margin-left: 8%;
	}
	.espacoLogos {
		margin-right: 1%;
		margin-left: 1%;
	}
}
@media screen and (max-width: 992px) {
	#conteudo {
		margin-right: 3%;
		margin-left: 3%;
	}

}
@media screen and (max-width: 600px) {
}