#conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	white-space: nowrap;
}
.espacoLogos {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.logos {
	margin-top: 2%;
	margin-bottom: 5%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 5%;
	padding: 0.5em;
	filter: grayscale(100%) brightness(135%);
}
.logos:hover {
	transition: 0.7s;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	filter: grayscale(0%);
}
@media screen and (pointer: coarse) {
	.logos:hover {
		transition: none;
		box-shadow: none;
	}
	.logos:active {
		box-shadow: box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	}
}
@media screen and (max-width: 1200px) {
	#conteudo {
		justify-content: space-around;
	}
	.espacoLogos {
		margin-right: 0;
		margin-left: 0;
		padding: 0.2em;
	}
	.imagemLogos {
		width: 80%;
	}
}
@media screen and (max-width: 992px) {
	#conteudo {
		flex-wrap: wrap;
		margin-right: 1%;
		margin-left: 1%;
	}
	.imagemLogos {
		width: 90%;
	}
}
@media screen and (max-width: 600px) {
	#conteudo {
		flex-direction: column;
	}
	.espacoLogos {
		flex-direction: column;
	}
	.imagemLogos {
		width: 80%;
	}
}