#conteudo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}
.espacoLogos {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}
.logos {
	margin-top: 2%;
	margin-bottom: 5%;
	border-radius: 5%;
	padding: 0.5em;
}
.logos:hover {
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}