#conteudo {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.formulario {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.espacoFieldsets {
	margin-right: 2%;
	margin-left: 2%;
}
fieldset {
	border: none;
}
input[type=text], input[type=email], input[type=tel], select{
	width: 15em;
	height: 2em;
	margin-bottom: 1.3em;
	margin-top: 0.5em;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
select {
	width: 6.5em;
	height: 2em;
	text-align: center;
	color: #2b818e;
	font-weight: lighter;
}
select:active {
	border: none;
}
#espacoFimFormulario {
	display: flex;
	flex-direction: column;	
	align-items: center;
}
textarea {
	height: 9em;
	width: 20em;
	resize: none;
	margin-top: 0.5em;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#botaoSubmit {
	width: 7em;
	height: 2em;
	margin-top: 1em;
	margin-bottom: 1.3%;
	border-radius: 1em;
	border: none;
	font-family: "Trebuchet MS";
	color: #2b818e;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
	background-color: #f8aa00;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#botaoSubmit:active {
	box-shadow: none;
}
