#conteudo {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin-bottom: 2em;
}
form {
	margin-right: 6.5%;
}
.formulario {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.espacoFieldsets {
	margin-right: 2%;
	margin-left: 2%;
}
fieldset {
	border: none;
}
input[type=text], input[type=email], input[type=tel], select, textarea{
	width: 15em;
	height: 2em;
	margin-bottom: 1.3em;
	margin-top: 0.5em;
	border: none;
	border-radius: 1%;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	color: #2b818e;
}
.espacoSelects {
	display: flex;
	justify-content: center;
}
select {
	width: 10em;
	height: 2em;
	text-align: center;
	font-weight: lighter;
}
#espacoFimFormulario {
	display: flex;
	flex-direction: column;	
	align-items: center;
}
textarea {
	height: 10em;
	width: 25em;
	margin-bottom: 0.3em;
	resize: none;
	box-sizing: border-box;
}
#botaoSubmit {
	width: 7em;
	height: 2em;
	margin-top: 1em;
	margin-bottom: 1.3%;
	border-radius: 1em;
	border: none;
	font-family: "Trebuchet MS";
	color: #2b818e;
	font-weight: bolder;
	cursor: pointer;
	background-color: #f8aa00;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#botaoSubmit:active {
	box-shadow: none;
}
#espacoEmpresa {
	display: flex;
	flex-direction: column; 
	align-content: center;
	text-align: center;
	width: 30%;
}
#map {
	height: 100%;
	width: auto;
	border-radius: 2%;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
h2 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: #f8aa00;
}
h4 {
	padding: 0.4em;
	background-color: #2b818e;
	border-radius: 0.7em;
	border: 1px solid #ffff;
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
	.formulario {
		flex-direction: column;
	}
	form {
		margin-right: 0; 
	}
}
@media screen and (max-width: 600px) {
	#conteudo {
		flex-direction: column;
	}
	.formulario {
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	input[type=text], input[type=email], input[type=tel] {
		width: 100%;
	}
	select {
		width: 12em;
		text-align-last: center;
	}
	#espacoFimFormulario fieldset {
		width: 90%;
	}
	textarea {
		width: 100%;
	}
	#espacoEmpresa {
		width: auto;
		height: 30em;
		margin-top: 8%;
		margin-right: 5%;
		margin-left: 5%;
	}
}
@media screen and (max-width: 375px) {
}