#conteudo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}
#imagemPrincipal {
	max-width: 75%;
	height: auto;
	margin-top: 2%;
	margin-bottom: 1%;
	flex-grow: 2;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#espacoImagensMenores {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-left: 1%;
}
.imagensMenores {
	display: block;
	width: 60%;
	max-height: auto;
	margin-top: 10%;
	border-radius: 10%;
}
#espacoTextoImagensMenores {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 2;
	align-items: left;
}
.textoImagensMenores {
	margin-top: 20%;
}
#espacoTexto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
h2 {
	padding: 1%;
	background-color: #2b818e;
	border-radius: 0.7em;
	border: 1px solid #ffff;
}