@keyframes animacao-fundo {
	from {
		background-blend-mode: normal;
	}
	to {
		background-blend-mode: color;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
@keyframes animacao-conteudo {
	from {
		opacity: 0.0;
	}
	to {
		visibility: visible;
		opacity: 1.0;
	}
}
#conteudo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	text-align: center;
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 3%;
	padding: 1%;
	height: 55vh;
	border-radius: 0.7em;
	background: url("../imagens/sistema.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	
	animation-name: animacao-fundo;
	animation-duration: 3.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	


}
#espacoImagensMenores {
	display: flex;
	flex-direction: column;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.imagensMenores {
	width: 5em;
	height: auto;
	border-radius: 10%;
	visibility: hidden;
	animation-name: animacao-conteudo;
	animation-duration: 3.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
.textoImagensMenores {
	visibility: hidden;
	animation-name: animacao-conteudo;
	animation-duration: 3.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
#espacoTexto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
h2 {
	padding: 0.4em;
	background-color: #2b818e;
	border-radius: 0.7em;
	border: 1px solid #ffff;
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 600px) {
	@keyframes animacao-fundo {
		from {
			background-blend-mode: normal;
		}
		to {
			background-blend-mode: color;
			background-color: rgba(16, 27, 35, 0.8);
		}
	}
	@keyframes animacao-conteudo {
		from {
			opacity: 0.0;
		}
		to {
			visibility: visible;
			opacity: 1.0;
		}
	}
	body {
		background: url("../imagens/sistema.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		animation-name: animacao-fundo;
		animation-duration: 3.5s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}
	#conteudo {
		background: none;
		animation: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		height: auto;
		margin: none;
		box-shadow: none;
	}
	#espacoTexto {
		margin-right: 3%;
		margin-left: 3%;
	}
	h3 {
		margin-right: 7%;
		margin-left: 7%;
	}
}