#conteudo {
	display: flex;
	flex-direction: row;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}
#espacoApresentacao {
	width: 68%;
	margin-right: 2%;
}
#espacoVantagens {
	display: flex;
	justify-content: center;
	margin-left: 2%;
}
.espacoListas {
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 5%;
}
h2 {
	text-align: center;
}
h3 {
	padding: 0.4em;
	background-color: #2b818e;
	border-radius: 0.7em;
	border: 1px solid #ffff;
	text-align: center;
}
ul {
	padding-left: 0;
	text-align: left;
	list-style: none;
}
li {
	display: block;
	padding: 0.4em;
}
#espacoListaFuncionalidades {
	width: 115%;
}
#listaFuncionalidades {
	color: #f8aa00;
}
#listaInfraestrutura {
	color: #2b818e;
}
@media screen and (max-width: 1200px) {
	#conteudo {
		flex-direction: column;
		margin-left: 9%;
		margin-right: 9%;
	}
	#espacoApresentacao {
		width: 100%;
		margin-right: 0;
	}
	#espacoVantagens {
		margin: 0;
	}
	.espacoListas {
		margin-right: 2%;
		margin-left: 2%;
	}
	#espacoListaFuncionalidades {
		width: 100%;
	}
}
@media screen and (max-width: 992px) {
	#conteudo {
		margin-left: 7%;
		margin-right: 7%;
	}
}
@media screen and (max-width: 600px) {
	#conteudo {
		flex-direction: column;
		margin-left: 5%;
		margin-right: 5%;
	}
	#espacoVantagens {
		flex-direction: column;
	}
	.espacoListas {
		margin: 0;
	}
}