#conteudo {
	display: flex;
	flex-direction: row;
	margin-left: 18%;
	margin-right: 18%;
	text-align: justify;
}
#espacoApresentacao {
	width: 80%;
	margin-right: 3%;
}
#espacoVantagens {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 3%;
}
.espacoListas {
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 5%;
}
h2 {
	text-align: center;
}
h3 {
	padding: 0.4em;
	background-color: #2b818e;
	border-radius: 0.7em;
	border: 1px solid #ffff;
	text-align: center;
}
ul {
	padding-left: 0;
	text-align: left;
	list-style: none;
}
li {
	display: block;
	padding: 0.4em;
}
#espacoListaFuncionalidades {
	width: 200%;
}
#listaFuncionalidades {
	color: #f8aa00;
}
#listaInfraestrutura {
	color: #2b818e;
}