html {
	height: 100vh;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
	font-size: 1em;
	background-color: #101b23;
	color: #ffff;
}
#inicioSite {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1em;
	margin-top: 15px;
}
nav {
	display: flex;
	align-items: center;
}
.linksMenu {
	text-decoration: none;
	white-space: nowrap;
	margin-right: 1em;
	margin-left: 1em;
	padding: 0.3em;
	border-radius: 0.4em;
	color: #ffff;
}
.linksMenu:hover {
	transition: 0.7s;
	text-decoration-line: none;
	color: #ffff;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.linksMenu:active {
	color: #2b818e;
	box-shadow: none;
}
.linksMenu:visited {
	color: #ffff;
}
#divisoria {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 0.6em;
}
#parteMenor {
	min-width: 30%;
	background-color: #f8aa00;
}
#parteDoMeio {
	min-width: 0.2%;
}
#parteMaior {
	min-width: 70%;
	background-color: #2b818e;
}
#textoDivisoria {
	display: block;
	margin-top: 10px;
	padding-left: 16%;
	text-align: left;
	font-size: 2em;
	color: #f8aa00;
	text-shadow: 0.5px 0 0 white;
}
#rodape {
	display: flex;
	justify-content: center;
	margin-top: 2vh;
}
@media screen and (pointer: coarse){
	#linksMenu:hover {
		transition: none;
		box-shadow: none;
	}
	#linksMenu:active {
		box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	}
}
@media screen and (max-width: 1200px) {
	#inicioSite {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	#textoDivisoria {
		padding-left: 11%;
	}
}
@media screen and (max-width: 992px) {
	#textoDivisoria {
		padding-left: 7%;
	}
}
@media screen and (max-width: 600px) {
	#inicioSite {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	header {
		margin-bottom: 1em;
	}
	nav {
		margin-bottom: 1em;
	}
	#linksMenu {
		margin-right: 0.1em;
		margin-left: 0.1em;
	}
}
@media screen and (max-width: 375px) {
	.linksMenu {
		margin-right: 0.2em;
		margin-left: 0.2em;
	}
	#textoDivisoria {
		margin-top: 2%;
		padding-left: 0;
		text-align: center;
	}
}