html {
	font-family: "Trebuchet MS";
	font-size: 0.9vw;
	background-color: #101b23;
	color: #ffff;
}
#inicioSite {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1%;
}
nav {
	display: flex;
	align-items: center;
}
.linksMenu {
	text-decoration: none;
	white-space: nowrap;
	margin-right: 1em;
	margin-left: 1em;
	padding: 0.3em;
	border-radius: 0.4em;
	color: #ffff;
}
.linksMenu:hover {
	transition: 0.7s;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.linksMenu:active {
	color: #2b818e;
	box-shadow: none;
}
.linksMenu:visited {
	color: #ffff;
}
#divisoria {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 0.6em;
}
#parteMenor {
	min-width: 25%;
	margin-left: 4em;
	background-color: #f8aa00;
}
#parteDoMeio {
	min-width: 0.2%;
}
#parteMaior {
	min-width: 45%;
	margin-right: 4em;
	background-color: #2b818e;
}
#textoDivisoria {
	display: block;
	margin-top: 0.3%;
	padding-left: 16%;
	text-align: left;
	font-size: 2em;
	color: #f8aa00;
	text-shadow: 0.5px 0 0 white;
}
#rodape {
	display: flex;
	justify-content: center;
}