html {
	font-family: "Comic Sans MS";
	font-size: 17px;
	background-color: #dbd6c5;
	color: #2b818e;
}
#inicioSite {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
nav {
	display: flex;
	align-items: center;
}
.linksMenu {
	text-decoration: none;
	white-space: nowrap;
	margin-right: 1em;
	margin-left: 1em;
	border-radius: 0.4em;
}
.linksMenu:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.linksMenu:active {
	color: #2b818e;
	box-shadow: none;
}
#conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 18%;
	padding-right: 18%;
	text-align: justify;
}
#imgPrincipal {
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#rodape {
	text-align: center;
}